.map-container{
    width: 100%;
    height: calc(100vh - 42px) !important;
}
.heading{
    font-size: 16px;
}

@media (min-width: 767px) {
    .map-container{
        height: calc(100vh - 50px) !important;
    }
    .heading{
        font-size: 32px;
    }
}